<mat-card class="cardWithShadow">
  <mat-tab-group mat-stretch-tabs="false" animationDuration="0ms">
    <mat-tab>
      <ng-template mat-tab-label>
        <div class="d-flex align-items-center">
          <mat-icon class="d-flex align-items-center">
            <i-tabler
              name="user-circle"
              class="icon-20 m-r-8 d-flex"
            ></i-tabler>
          </mat-icon>
        </div>
        Account
      </ng-template>
      <mat-card-content class="p-y-24">
        <div class="row">
          <div class="col-sm-6">
            <mat-card class="cardWithShadow">
              <mat-card-content class="p-y-24">
                <mat-card-title>Cambiar contraseña</mat-card-title>
                <mat-card-subtitle class="f-s-14"
                  >Para cambiar su contraseña por favor confirme
                  aquí</mat-card-subtitle
                >
                <form class="m-t-24">
                  <!-- input -->
                  <mat-label class="f-s-14 f-w-600 m-b-8 d-block"
                    >Contraseña actual</mat-label
                  >
                  <!-- <mat-form-field
                      appearance="outline"
                      class="w-100"
                      color="primary"
                    >
                      <input matInput type="password" value="" placeholder="Ingrese Contraseña Actual" />
                    </mat-form-field> -->
                  <mat-form-field
                    appearance="outline"
                    class="w-100"
                    color="primary"
                  >
                    <input
                      matInput
                      [type]="hide ? 'password' : 'text'"
                      [formControl]="loginForm.controls.OldPassword"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="hide = !hide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="hide"
                    >
                      <mat-icon class="op-5">{{
                        hide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                    @if(loginForm.controls.OldPassword.touched &&
                    loginForm.controls.OldPassword.invalid){
                    <mat-hint class="m-b-16 error-msg">
                      @if (loginForm.controls.OldPassword.hasError('minlength')
                      && !loginForm.controls.OldPassword.hasError('required')) {
                      <div class="text-error">
                        Contraseña debe tener al menos 5 dígitos
                      </div>
                      } @if
                      (loginForm.controls.OldPassword.hasError('required')) {
                      <div class="text-error">
                        Contraseña actual es <strong>requerida</strong>
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                  <!-- input -->
                  <mat-label class="f-s-14 f-w-600 m-b-8 d-block"
                    >Nueva contraseña</mat-label
                  >
                  <mat-form-field
                    appearance="outline"
                    class="w-100"
                    color="primary"
                  >
                    <input
                      matInput
                      [type]="alignhide ? 'password' : 'text'"
                      [formControl]="loginForm.controls.NewPassword"
                    />
                    <button
                      mat-icon-button
                      matSuffix
                      (click)="alignhide = !alignhide"
                      [attr.aria-label]="'Hide password'"
                      [attr.aria-pressed]="alignhide"
                    >
                      <mat-icon class="op-5">{{
                        alignhide ? "visibility_off" : "visibility"
                      }}</mat-icon>
                    </button>
                    <!-- errores -->
                    @if(loginForm.controls.NewPassword.touched &&
                    loginForm.controls.NewPassword.invalid) {
                    <mat-hint class="m-b-16 error-msg">
                      @if (loginForm.controls.NewPassword.errors?.['minLength'])
                      {
                      <div class="text-error">
                        Debe tener al menos 8 caracteres
                      </div>
                      } @if
                      (loginForm.controls.NewPassword.errors?.['uppercase']) {
                      <div class="text-error">
                        Debe contener al menos una letra mayúscula
                      </div>
                      } @if
                      (loginForm.controls.NewPassword.errors?.['lowercase']) {
                      <div class="text-error">
                        Debe contener al menos una letra minúscula
                      </div>
                      } @if (loginForm.controls.NewPassword.errors?.['number'])
                      {
                      <div class="text-error">
                        Debe incluir al menos un número
                      </div>
                      } @if
                      (loginForm.controls.NewPassword.errors?.['specialChar']) {
                      <div class="text-error">
                        Debe incluir al menos un carácter especial (por ejemplo:
                        !&#64;#$%)
                      </div>
                      }
                    </mat-hint>
                    }
                  </mat-form-field>
                  <!-- input -->
                  <mat-label class="f-s-14 f-w-600 m-b-8 d-block"
                    >Confirmar contraseña</mat-label
                  >
                  <mat-form-field
                    appearance="outline"
                    class="w-100 hide-hint"
                    color="primary"
                  >
                    <input
                      matInput
                      type="password"
                      value=""
                      placeholder="Ingrese Confirmar contraseñagit "
                    />
                  </mat-form-field>
                </form>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
  <div class="text-right p-24 p-t-0">
    <button mat-flat-button class="m-r-8">Guardar</button>
    <button mat-flat-button class="bg-error text-white">Cancelar</button>
  </div>
</mat-card>
