<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between align-items-center">
      <div class="col-sm-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            placeholder="Busca aquí..."
            (keyup)="applyFilter($event)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20 d-flex m-t-4"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-sm-4 d-flex align-items-center justify-content-end">
        <a
          mat-button
          mat-flat-button
          (click)="openDialog('Add', {})"
          color="primary"
          >Agregar Grupo</a
        >
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100" matSort>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">Item</th>
          <td mat-cell *matCellDef="let row; let i = index" class="f-s-14">
            {{ i + 1 + pageIndex * pageSize }}
          </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="f-w-600 f-s-15"
          >
            Descripción
          </th>
          <td mat-cell *matCellDef="let element" class="f-s-14">
            {{ element.descripcion }}
          </td>
        </ng-container>

        <ng-container matColumnDef="isinactive">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Estado
          </th>
          <td mat-cell *matCellDef="let row" class="f-s-14">
            <div
              class="d-flex align-items-center gap-12 p-y-14"
              *ngIf="row.isinactive; then activo; else inactivo"
            >
              <!--<span class="f-s-16 f-w-600">{{ row.state }}</span>-->
            </div>
            <ng-template #inactivo>
              <span
                class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-14"
                >Activo</span
              >
            </ng-template>
            <ng-template #activo>
              <span
                class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-14"
                >Inactivo</span
              >
            </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
            Acciones
          </th>
          <td mat-cell *matCellDef="let element" class="action-link">
            <a
              (click)="openDialog('Edit', element)"
              class="m-r-10 cursor-pointer"
              matTooltip="Editar"
              matTooltipPosition="above"
              ><i-tabler name="edit" class="icon-18"></i-tabler
            ></a>
            <a
              (click)="openDeleteDialog(element)"
              class="m-r-10 cursor-pointer"
              matTooltip="Eliminar"
              matTooltipPosition="below"
            >
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- 🔹 Fila vacía con matNoDataRow -->
        <tr class="mat-row" *matNoDataRow>
          <td
            class="mat-cell text-center"
            [attr.colspan]="displayedColumns.length"
          >
            <span class="f-s-14 f-w-500 text-muted">
              No se encontraron registros
            </span>
          </td>
        </tr>
      </table>
      <mat-paginator
        [length]="totalRecords"
        [pageSizeOptions]="[10, 50, 100]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
