<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between gap-16">
      <div class="col-sm-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Buscar grupo...</mat-label>
          <input
            matInput
            type="text"
            placeholder="Buscar grupo..."
            [formControl]="filterControlGrupo"
            [matAutocomplete]="autoGrupo"
          />
          <mat-autocomplete
            #autoGrupo="matAutocomplete"
            (optionSelected)="onGrupoSelected($event.option.value)"
            [displayWith]="displayGrupo"
          >
            <mat-option [value]="null">Todos</mat-option>
            <mat-option
              *ngFor="let grupo of filteredGrupos | async"
              [value]="grupo"
            >
              {{ grupo.text }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-sm-2">
        <mat-form-field class="w-100" appearance="outline">
          <mat-label>Buscar cuenta asociada...</mat-label>
          <input
            matInput
            type="text"
            placeholder="Buscar cuenta asociada..."
            [formControl]="filterControlUsuario"
            [matAutocomplete]="autoUsuario"
          />
          <mat-autocomplete
            #autoUsuario="matAutocomplete"
            (optionSelected)="onUsuarioSelected($event.option.value)"
            [displayWith]="displayUsuario"
          >
            <mat-option [value]="null">Todos</mat-option>
            <mat-option
              *ngFor="let usuario of filteredUsuarios | async"
              [value]="usuario"
            >
              {{ usuario.text }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="col-sm-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            placeholder="Busca aquí..."
            (keyup)="applyFilter($event)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20 d-flex m-t-2"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>

      <div class="col-sm-3 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openDialog(null)" color="primary">
          Agregar Cliente
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<div class="row">
  <!-- 📄 Paginador -->
  <div class="col-12 mt-4">
    <mat-paginator
      [length]="totalItems()"
      [pageSize]="pageSize"
      [pageSizeOptions]="[8, 16, 40, 80]"
      (page)="onPageChange($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

  <!-- ✅ Mostrar lista de clientes -->
  @if (cliente().length > 0) { @for (cliente of cliente(); track
  cliente.razonsocial) {
  <div class="col-sm-6 col-lg-3">
    <mat-card class="cardWithShadow">
      <!-- contact actions -->
      <div class="d-flex align-items-center p-x-16 p-y-8">
        <button
          mat-icon-button
          matTooltip="Editar"
          (click)="this.openDialog(cliente.id!)"
          class="d-flex align-items-center justify-content-center"
        >
          <i-tabler
            name="edit"
            class="icon-18 d-flex align-items-center"
          ></i-tabler>
        </button>

        <button
          mat-icon-button
          matTooltip="Eliminar"
          class="d-flex align-items-center justify-content-center"
          (click)="this.openDeleteDialog(cliente)"
        >
          <i-tabler
            name="trash"
            class="icon-18 d-flex align-items-center"
          ></i-tabler>
        </button>
      </div>

      <!-- <mat-divider></mat-divider> -->

      <mat-card-content class="text-center">
        <img
          [src]="fileUtils.getClienteImage(cliente.image)"
          alt="Foto"
          class="rounded-circle border p-5"
          width="100"
        />

        <div class="d-flex flex-col gap-20 m-t-16">
          <div>
            <h4 mat-card-title>
              {{ cliente.ruc }} - {{ cliente.razonsocial }}
            </h4>
            <span class="f-s-12">{{ cliente.grupo }}</span>
          </div>
          <div class="d-flex gap-8 justify-content-center">
            <button
              mat-flat-button
              color="primary"
              (click)="goToCompras(cliente)"
            >
              Compras
            </button>
            <button mat-flat-button class="bg-secondary text-white">
              Ventas
            </button>
          </div>
          <span class="f-s-14"> {{ cliente.direccion }}</span>
          <span class="f-s-14"> Cel: {{ cliente.numero }}</span>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
    </mat-card>
  </div>
  } }

  <!-- 🚫 Mensaje cuando no hay clientes -->
  @else {
  <div class="col-12">
    <div
      class="d-flex flex-column justify-content-center align-items-center text-center py-5"
      style="min-height: 250px"
    >
      <i-tabler name="users" class="icon-48 text-muted mb-3"></i-tabler>
      <p class="f-s-16 text-muted mb-0">No hay clientes disponibles.</p>
    </div>
  </div>
  }
</div>
