<p>recent-firmas works!</p>

<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Recent Transactions</mat-card-title>

    <div class="timeline m-t-24">
      <div
        class="timeline-item d-flex overflow-hidden"
        *ngFor="let stat of stats; trackBy: trackByFn"
      >
        <div class="time text-right f-s-14">{{ stat.time }}</div>
        <div class="point d-flex align-items-center">
          <span class="timeline-badge border-{{ stat.color }} m-y-8"></span>
          <span class="timline-border d-block"></span>
        </div>
        <div class="desc">
          <span class="f-s-14 lh-20">{{ stat.subtext }}</span>
          <span class="f-s-14 lh-20 f-w-600 d-block">{{ stat.title }}</span>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
