<div class="blank-layout-container justify-content-center">
  <div class="position-relative row w-100 h-100">
    <div class="col-lg-7 col-xl-8 bg-gredient p-0">
      <div class="p-24 h-100">
        <app-branding></app-branding>

        <div
          class="align-items-center justify-content-center img-height d-none d-lg-flex"
        >
          <img
            src="/assets/images/backgrounds/login-bg.svg"
            alt="login"
            style="max-width: 500px"
          />
        </div>
      </div>
    </div>
    <div class="col-lg-5 col-xl-4 p-0">
      <div
        class="p-32 d-flex align-items-start align-items-lg-center justify-content-center h-100"
      >
        <div class="row justify-content-center w-100">
          <div class="col-lg-9 max-width-form">
            <h4 class="f-w-700 f-s-24 m-0">Bienvenidos a ManagerSIRE</h4>
            <span class="f-s-14 d-block f-s-14 m-t-8"
              >Su panel de administración</span
            >

            <form class="m-t-30" [formGroup]="form" (ngSubmit)="login()">
              <!-- Username -->
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
                >Usuario</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput formControlName="uname" />
                @if(f['uname'].touched && f['uname'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(f['uname'].errors?.['required']) {
                  <div class="text-error">El usuario es obligatorio.</div>
                  } @if(f['uname'].errors?.['minlength']) {
                  <div class="text-error">El nombre debe tener 6 caracteres.</div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <!-- Password -->
              <mat-label class="f-s-14 f-w-600 m-b-12 d-block"
                >Contraseña</mat-label
              >
              <mat-form-field
                appearance="outline"
                class="w-100"
                color="primary"
              >
                <input matInput type="password" formControlName="password" />
                @if(f['password'].touched && f['password'].invalid) {
                <mat-hint class="m-b-16 error-msg">
                  @if(f['password'].errors?.['required']) {
                  <div class="text-error">Se requiere contraseña.</div>
                  }
                </mat-hint>
                }
              </mat-form-field>

              <!-- Submit button -->
              <button
                mat-flat-button
                color="primary"
                class="w-100"
                [disabled]="!form.valid"
                type="submit"
              >
                Iniciar Sessión
              </button>

              <!-- Mensaje de error -->
              <div *ngIf="errorMessage" class="text-error m-t-12">
                {{ errorMessage }}
              </div>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
