<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="row justify-content-between gap-16">
      <div class="col-lg-4">
        <mat-form-field appearance="outline" class="w-100 hide-hint">
          <input
            matInput
            placeholder="Busca aquí..."
            (keyup)="applyFilter($any($event.target).value)"
          />
          <mat-icon matSuffix>
            <i-tabler name="search" class="icon-20 d-flex m-t-2"></i-tabler>
          </mat-icon>
        </mat-form-field>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <button mat-flat-button (click)="openDialog(null)" color="primary">
          Agregar Usuario
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="cardWithShadow">
  <mat-card-content>
    <div class="table-responsive">
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <!-- Columna: Item -->
        <ng-container matColumnDef="item">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="f-s-16 f-w-600"
          >
            Item
          </th>
          <td mat-cell *matCellDef="let row; let i = index" class="f-s-14">
            {{ i + 1 }}
          </td>
        </ng-container>

        <!-- Columna: ClientId -->
        <ng-container matColumnDef="nombreCompleto">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="f-s-16 f-w-600"
          >
            Apellidos y Nombre(s)
          </th>
          <td mat-cell *matCellDef="let row" class="f-s-14">
            {{ row.nombreCompleto }}
          </td>
        </ng-container>

        <!-- Columna: ClientSecret -->
        <ng-container matColumnDef="userName">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="f-s-16 f-w-600"
          >
            Usuario
          </th>
          <td mat-cell *matCellDef="let row" class="f-s-14">
            {{ row.userName }}
          </td>
        </ng-container>

        <!-- Columna: Estado -->
        <ng-container matColumnDef="isInactive">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="f-s-16 f-w-600"
          >
            Estado
          </th>
          <td mat-cell *matCellDef="let row" class="f-s-14">
            @if (!row.isInactive) {
            <span
              class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-14"
              >Activo</span
            >
            } @else {
            <span
              class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-14"
              >Inactivo</span
            >
            }
          </td>
        </ng-container>

        <!-- Columna: Acciones -->
        <ng-container matColumnDef="actions">
          <th
            mat-header-cell
            *matHeaderCellDef
            mat-sort-header
            class="f-s-16 f-w-600"
          >
            Acciones
          </th>
          <td mat-cell *matCellDef="let row" class="action-link">
            <a
              class="m-r-10 cursor-pointer"
              matTooltip="Editar"
              matTooltipPosition="above"
              (click)="openDialog(row.id)"
            >
              <i-tabler name="edit" class="icon-18"></i-tabler>
            </a>
            <a
              class="m-r-10 cursor-pointer"
              matTooltip="Eliminar"
              matTooltipPosition="below"
              (click)="onSelectedDelete(row.id)"
            >
              <i-tabler name="trash" class="icon-18"></i-tabler>
            </a>
          </td>
        </ng-container>

        <!-- Filas -->
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- 🔹 Fila vacía con matNoDataRow -->
        <tr class="mat-row" *matNoDataRow>
          <td
            class="mat-cell text-center"
            [attr.colspan]="displayedColumns.length"
          >
            <span class="f-s-14 f-w-500 text-muted">
              No se encontraron registros
            </span>
          </td>
        </tr>
      </table>
      <!-- Paginador -->
      <mat-paginator
        [pageSizeOptions]="[10, 15, 20]"
        showFirstLastButtons
      ></mat-paginator>
    </div>
  </mat-card-content>
</mat-card>
