<mat-card class="shadow-none bg-light-secondary overflow-hidden">
  <mat-card-content class="p-16 p-b-0">
    <div class="d-flex justify-content-between align-items-center">
      <!-- Columna izquierda -->
      <div>
        <h5 class="m-0 f-w-600 f-s-16">{{ ruc() }} {{ razonSocial() }}</h5>
        <span class="f-s-14">{{ direccion() }}</span>
      </div>

      <!-- Columna derecha -->
      <div class="d-flex gap-4">
        <!-- <button
          mat-stroked-button
          (click)="onMigrarExcel()"
          [disabled]="isLoading()"
        >
          {{ isLoading() ? "Procesando..." : "Descargar SIRE" }}
        </button> -->

        <button
          mat-stroked-button
          (click)="onMigrarExcel()"
          [disabled]="isLoading()"
        >
          {{ isLoading() ? "Procesando..." : "Migrar a Excel" }}
        </button>

        <button
          mat-flat-button
          (click)="onImportarGlosa()"
          [disabled]="isLoading()"
        >
          {{ isLoading() ? "Procesando..." : "Importar Glosa" }}
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>

<mat-card class="mat-card-top notes-app cardWithShadow overflow-hidden">
  <mat-sidenav-container
    [ngClass]="{
      'side-panel-opened': sidePanelOpened(),
      'side-panel-closed': !sidePanelOpened()
    }"
    class="h-100"
  >
    <mat-sidenav
      #mailnav
      [mode]="isOver() ? 'over' : 'side'"
      [opened]="!isOver()"
      (open)="sidePanelOpened.set(true)"
      (close)="sidePanelOpened.set(false)"
      style="width: 290px"
    >
      <div class="p-16 p-b-0">
        <button
          mat-flat-button
          (click)="onSearchCompras()"
          [disabled]="isLoading()"
          color="primary"
          class="w-100 btn-block"
        >
          {{ isLoading() ? "Buscando..." : "Búsqueda" }}
        </button>
      </div>

      <ng-scrollbar
        class="position-relative"
        style="height: calc(100vh - 400px)"
      >
        <div class="p-16">
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Año</mat-label>
            <mat-select [(value)]="selectedYear">
              <mat-option *ngFor="let year of years" [value]="year">
                {{ year }}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <!-- Select de Mes -->
          <mat-form-field appearance="fill" class="w-100">
            <mat-label>Mes</mat-label>
            <mat-select [(value)]="selectedMonth">
              <mat-option *ngFor="let month of months" [value]="month.value">
                {{ month.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <h4 class="f-s-16 f-w-600 p-x-16 m-t-16">All Notes</h4>

        <mat-nav-list class="p-x-16">
          <mat-list-item
            class="notes-item rounded m-b-8 bg-light-success"
            (click)="onSelect(true)"
          >
            <span class="note-title f-w-500 text-success" matListItemTitle
              >Con Glosa</span
            >
            <div class="d-flex justify-content-between">
              <span class="note-time f-s-12 f-w-500"
                >Se importo la glosa.
              </span>
              <span class="f-w-600 f-s-14"> {{ conGlosa() }} </span>
            </div>
          </mat-list-item>
          <mat-list-item
            class="notes-item rounded m-b-8 bg-light-error"
            (click)="onSelect(false)"
          >
            <span class="note-title f-w-500 text-error" matListItemTitle
              >Sin Glosa</span
            >
            <div class="d-flex justify-content-between">
              <span class="note-time f-s-12 f-w-500"
                >No se importo la glosa.
              </span>
              <span class="f-w-600 f-s-14"> {{ sinGlosa() }} </span>
            </div>
          </mat-list-item>
          <mat-list-item
            class="notes-item rounded m-b-8 bg-light-primary"
            (click)="onSelect()"
          >
            <span class="note-title f-w-500 text-primary" matListItemTitle
              >Total</span
            >
            <div class="d-flex justify-content-between">
              <span class="note-time f-s-12 f-w-500"
                >Total de regiatros importados.
              </span>
              <span class="f-w-600 f-s-14"> {{ total() }} </span>
            </div>
          </mat-list-item>
        </mat-nav-list>

        <mat-divider></mat-divider>

        <div class="p-16">
          <button
            mat-flat-button
            class="w-100 bg-warning text-white"
            [routerLink]="'/apps/cliente'"
          >
            Regresar
          </button>
        </div>
      </ng-scrollbar>
    </mat-sidenav>

    <mat-sidenav-content>
      <!-- ------------------------------------------------------ -->
      <!-- contact Listing and Details-->
      <!-- ------------------------------------------------------ -->
      <div class="p-x-15 w-100 h-100">
        <div class="row h-100">
          <!-- ------------------------------------------------------ -->
          <!-- Listing -->
          <!-- ------------------------------------------------------ -->
          <div class="col-md-12 b-r-1 p-0">
            <div class="row p-20">
              <div class="col-6 d-flex align-items-center">
                <mat-form-field appearance="outline" class="w-100 hide-hint">
                  <input
                    matInput
                    #buscador
                    placeholder="Buscar C/Pago"
                    (input)="applyFilter(buscador.value)"
                  />
                  <mat-icon matSuffix>
                    <i-tabler
                      name="search"
                      class="icon-18 d-flex m-t-4"
                    ></i-tabler>
                  </mat-icon>
                </mat-form-field>
              </div>
            </div>
            <ng-scrollbar
              style="height: calc(100vh - 380px)"
              class="position-relative"
            >
              <mat-card class="cardWithShadow">
                <mat-card-content>
                  <div output>
                    <div class="table-responsive-sm">
                      <table
                        mat-table
                        [dataSource]="dataSource"
                        matSort
                        class="mat-elevation-z8"
                        multiTemplateDataRows
                      >
                        <!-- FechaEmision Column -->
                        <ng-container matColumnDef="fechaEmision">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0"
                          >
                            F/Emision
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            class="p-x-24 f-s-14 p-l-0"
                          >
                            {{ element.fechaEmision }}
                          </td>
                        </ng-container>

                        <!-- Columna: TieneGlosa -->
                        <ng-container matColumnDef="tieneGlosa">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            mat-sort-header
                            class="f-s-16 f-w-600"
                          >
                            Glosa
                          </th>
                          <td mat-cell *matCellDef="let row" class="f-s-14">
                            @if (row.tieneGlosa) {
                            <span
                              class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-14"
                              >Con Glosa</span
                            >
                            } @else {
                            <span
                              class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-14"
                              >Sin Glosa</span
                            >
                            }
                          </td>
                        </ng-container>

                        <!-- TipoComprobante Column -->
                        <ng-container matColumnDef="tipoComprobante">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0"
                          >
                            Tipo
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            class="p-x-24 f-s-14 p-l-0"
                          >
                            {{ element.tipoComprobante }}
                          </td>
                        </ng-container>

                        <!-- Serie Column -->
                        <ng-container matColumnDef="serie">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0"
                          >
                            Serie
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            class="p-x-24 f-s-14 p-l-0"
                          >
                            {{ element.serie }}
                          </td>
                        </ng-container>

                        <!-- Numero Column -->
                        <ng-container matColumnDef="numero">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0"
                          >
                            Número
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            class="p-x-24 f-s-14 p-l-0"
                          >
                            {{ element.numero }}
                          </td>
                        </ng-container>

                        <!-- NumeroDocIdentidad Column -->
                        <ng-container matColumnDef="numeroDocIdentidad">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0"
                          >
                            Ruc (Emisor)
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            class="p-x-24 f-s-14 p-l-0"
                          >
                            {{ element.numeroDocIdentidad }}
                          </td>
                        </ng-container>

                        <!-- NombreProveedor Column -->
                        <ng-container matColumnDef="nombreProveedor">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0"
                          >
                            Razon Social
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            class="p-x-24 f-s-14 p-l-0"
                          >
                            {{ element.nombreProveedor }}
                          </td>
                        </ng-container>

                        <!-- Total Column -->
                        <ng-container matColumnDef="total">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            class="f-w-600 mat-subtitle-1 f-s-14 p-x-24 p-l-0"
                          >
                            Total
                          </th>
                          <td
                            mat-cell
                            *matCellDef="let element"
                            class="p-x-24 f-s-14 p-l-0"
                          >
                            {{ element.total }}
                          </td>
                        </ng-container>

                        <ng-container matColumnDef="expand">
                          <th
                            mat-header-cell
                            *matHeaderCellDef
                            aria-label="row actions"
                          >
                            &nbsp;
                          </th>
                          <td mat-cell *matCellDef="let element">
                            <button
                              mat-icon-button
                              aria-label="expand row"
                              (click)="
                                expandedElement =
                                  expandedElement === element ? null : element;
                                $event.stopPropagation()
                              "
                            >
                              @if(expandedElement !== element) {
                              <mat-icon>keyboard_arrow_down</mat-icon>
                              } @if(expandedElement === element) {
                              <mat-icon>keyboard_arrow_up</mat-icon>
                              }
                            </button>
                          </td>
                        </ng-container>

                        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                        <ng-container matColumnDef="expandedDetail">
                          <td
                            mat-cell
                            *matCellDef="let element"
                            [attr.colspan]="displayedColumns.length"
                          >
                            <div
                              [@detailExpand]="
                                element === expandedElement
                                  ? 'expanded'
                                  : 'collapsed'
                              "
                            >
                              <div class="p-15 rounded b-1 m-b-16 m-x-18">
                                <div class="d-flex align-items-center gap-12">
                                  <span
                                    class="bg-light-primary text-primary icon-48 rounded f-w-600 d-flex align-items-center justify-content-center"
                                  >
                                    <i-tabler
                                      name="article"
                                      class="icon-20 d-flex text-primary"
                                    ></i-tabler>
                                  </span>
                                  <div>
                                    <button
                                      mat-stroked-button
                                      class="m-l-8"
                                      color="warn"
                                      (click)="openDialog(element)"
                                    >
                                      Ver PDF
                                    </button>

                                    @if(element.tieneGlosa) {
                                    <div class="f-s-14 f-w-600 mat-subtitle-1">
                                      <br />

                                      {{ element.glosa }}
                                    </div>
                                    }
                                  </div>
                                </div>
                              </div>
                            </div>
                          </td>
                        </ng-container>

                        <tr
                          mat-header-row
                          *matHeaderRowDef="columnsToDisplayWithExpand"
                        ></tr>
                        <tr
                          mat-row
                          *matRowDef="
                            let element;
                            columns: columnsToDisplayWithExpand
                          "
                          class="example-element-row"
                          [class.example-expanded-row]="
                            expandedElement === element
                          "
                          (click)="
                            expandedElement =
                              expandedElement === element ? null : element
                          "
                        ></tr>
                        <tr
                          mat-row
                          *matRowDef="let row; columns: ['expandedDetail']"
                          class="example-detail-row"
                        ></tr>

                        <!-- Fila cuando no hay datos -->
                        <tr class="mat-row" *matNoDataRow>
                          <td
                            class="mat-cell text-center"
                            [attr.colspan]="displayedColumns.length"
                          >
                            No hay registros disponibles
                          </td>
                        </tr>
                      </table>
                      <!-- Paginador -->
                      <mat-paginator
                        [length]="totalRecords"
                        [pageSize]="pageSize"
                        [pageSizeOptions]="[10, 15, 20]"
                        showFirstLastButtons
                      >
                      </mat-paginator>
                    </div>
                  </div>
                </mat-card-content>
              </mat-card>
            </ng-scrollbar>
          </div>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</mat-card>
