<h2 mat-dialog-title class="m-b-24">{{ titulo }}</h2>

<mat-divider></mat-divider>

<mat-dialog-content class="mat-typography" style="max-width: 600px">
  <form [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
    <!-- IMAGEN -->
    <div class="row">
      <div class="col-md-6">
        <mat-label class="f-w-600 m-b-8 d-block">Subir imagen</mat-label>
        <div class="file-input-container m-b-16">
          @if (clienteForm.get('image')?.value) {
            <img
              [src]="clienteForm.get('image')?.value"
              alt="Imagen seleccionada"
              class="m-r-16"
              height="100"
              width="100"
            />
          }
          <input type="file" (change)="onFileSelected($event)" accept="image/*" />
        </div>
      </div>
    </div>

    <!-- RUC Y RAZÓN SOCIAL -->
    <div class="row">
      <div class="col-md-4">
        <mat-label class="f-w-600 m-b-8 d-block">RUC</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            type="text"
            required
            minlength="11"
            maxlength="11"
            placeholder="RUC"
            formControlName="ruc"
          />
          <mat-error *ngIf="clienteForm.get('ruc')?.invalid">
            {{ rucErrorMessage() }}
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-8">
        <mat-label class="f-w-600 m-b-8 d-block">Razón Social</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            type="text"
            required
            placeholder="Razón Social"
            formControlName="razonsocial"
          />
        </mat-form-field>
      </div>
    </div>

    <!-- DIRECCIÓN -->
    <div class="row">
      <div class="col-md-12">
        <mat-label class="f-w-600 m-b-8 d-block">Dirección</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            type="text"
            required
            placeholder="Dirección"
            formControlName="direccion"
          />
        </mat-form-field>
      </div>
    </div>

    <!-- NÚMERO DE CONTACTO -->
    <div class="row">
      <div class="col-md-6">
        <mat-label class="f-w-600 m-b-8 d-block">Número de Contacto</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            type="text"
            required
            pattern="[0-9]*"
            maxlength="15"
            placeholder="Número"
            formControlName="numero"
          />
        </mat-form-field>
      </div>
    </div>

    <!-- CUENTA ASOCIADA Y GRUPO -->
    <div class="row">
      <!-- CUENTA ASOCIADA -->
      <div class="col-sm-6">
        <mat-label class="f-w-600 m-b-8 d-block">Cuenta Asociada</mat-label>
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            type="text"
            placeholder="Buscar cuenta asociada..."
            [formControl]="filterControlUsuario"
            [matAutocomplete]="autoUsuario"
          />
          <mat-autocomplete
            #autoUsuario="matAutocomplete"
            (optionSelected)="onUsuarioSelected($event.option.value)"
            [displayWith]="displayUsuario"
          >
            <mat-option
              *ngFor="let usuario of filteredUsuarios | async"
              [value]="usuario"
            >
              {{ usuario.text }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <!-- GRUPO -->
      <div class="col-sm-6">
        <mat-label class="f-w-600 m-b-8 d-block">Grupo</mat-label>
        <mat-form-field class="w-100" appearance="outline">
          <input
            matInput
            type="text"
            placeholder="Buscar grupo..."
            [formControl]="filterControlGrupo"
            [matAutocomplete]="autoGrupo"
          />
          <mat-autocomplete
            #autoGrupo="matAutocomplete"
            (optionSelected)="onGrupoSelected($event.option.value)"
            [displayWith]="displayGrupo"
          >
            <mat-option
              *ngFor="let grupo of filteredGrupos | async"
              [value]="grupo"
            >
              {{ grupo.text }}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>

    <!-- USUARIO Y CONTRASEÑA -->
    <div class="row">
      <div class="col-md-6">
        <mat-label class="f-w-600 m-b-8 d-block">Usuario</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            type="text"
            required
            placeholder="Usuario"
            formControlName="username"
          />
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-label class="f-w-600 m-b-8 d-block">Contraseña</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            type="text"
            required
            placeholder="Contraseña"
            formControlName="password"
          />
        </mat-form-field>
      </div>
    </div>

    <!-- CLIENT ID / SECRET -->
    <div class="row">
      <div class="col-md-6">
        <mat-label class="f-w-600 m-b-8 d-block">Client ID</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            type="text"
            required
            placeholder="Client ID"
            formControlName="clientId"
          />
        </mat-form-field>
      </div>

      <div class="col-md-6">
        <mat-label class="f-w-600 m-b-8 d-block">Client Secret</mat-label>
        <mat-form-field appearance="outline" class="w-100">
          <input
            matInput
            type="text"
            required
            placeholder="Client Secret"
            formControlName="clientSecret"
          />
        </mat-form-field>
      </div>
    </div>
  </form>
</mat-dialog-content>

<mat-divider></mat-divider>

<mat-dialog-actions class="p-24">
  <button
    mat-flat-button
    color="primary"
    type="submit"
    [mat-dialog-close]="true"
    [disabled]="clienteForm.invalid"
    (click)="onSubmit()"
  >
    Guardar
  </button>

  <button mat-flat-button class="bg-error text-white" mat-dialog-close>
    Cancelar
  </button>
</mat-dialog-actions>
